*.*~
/bin/*

.project
.settings
.classpath
/.DS_Store
/target/
/.settings/*
pom.xml
docs/report/report.synctex.gz

docs/report/report.pdf

docs/report/report.log

docs/report/report.aux

docs/.DS_Store

docs/report/.DS_Store

docs/report/images/.DS_Store

source/src/buildercomposite/.DS_Store

source/src/defensivecopy/.DS_Store

docs/report/report.out

docs/report/report.toc

docs/report/listings.sty

docs/report/listings.sty
